# Scratch files
x
x.*
*.x
*.tmp
tmp.*
*.tmp[0-9]
tgen_test.[0-9]
~*
.DS_Store
lbm.sh
*.log
*.out

# Prerequisites
*.d

# Object files
tgen_test
*.o
*.ko
*.obj
*.elf
*.class

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
